<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SSH Client</title>
  </head>

  <body>
    <textarea id="ssh-log" cols="100" rows="20"></textarea><br />
    <input id="ssh-message-input" type="text" size="100" /><br />

    <script>
      let ctrl = false;

      const sshSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/ssh/"
      );

      sshSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector("#ssh-log").value += data.ascii;
      };

      sshSocket.onclose = function (e) {
        console.error(e);
        console.error("ssh socket closed unexpectedly");
      };

      const messageInputDom = document.querySelector("#ssh-message-input");

      document.addEventListener("keydown", function (e) {
        e.preventDefault();
        console.log(e.code);
        if (e.key == "Control") {
          ctrl = true;
          console.log("ctrl down");
        }
        sshSocket.send(
          JSON.stringify({
            ascii: e.code,
          })
        );
      });

      document.addEventListener("keyup", function (e) {
        e.preventDefault();
        //console.log(e);
        if (e.key == "Control") {
          ctrl = false;
          console.log("ctrl up");
        }
      });
    </script>
  </body>
</html>
